.home__header{
    font-size: $home-header-size;
}
.home__description{
    font-size:$home-para-size;
}
.home__powered-by{
    margin-top: 30px;
    font-size: small;
}
.home__powered-by-description{
    font-size: $home-para-size;
}
.home__image{
    max-width: 100%;
    height: 480px;
    margin-top: 80px;
    margin-right: 700px;
}
