/*colors*/
$blue:#028af3;
$dark-blue:#06107d;
$dark-font:#073b58;
$white:#ffffff;
$dark-pink:#fb6161;
$border:#cacaca;
$light-gray:#8d8b8b;
$background:#deeafd;
$transperant:#8d8f926f;
$red:#fe0909;
$linear-gradient:linear-gradient(to right,#636ff6,#1c28a8);

/*font-size*/
$nav-header-size:40px;
$nav-items-size:25px;
$home-header-size:45px;
$home-para-size:30px;
$section-header-size:25px;
$section-text-size:20px;
$section-para-size:15px;
$icon-header-size:20px;
$icon-para-size:18px;
$contacts-header-size:40px;
$contacts-para-size:23px;
$contacts-size:40px;
$form-font-size:18px;
$button-font-size:23px;
