<!--About Sealtabs section-->
<section class="about-section" id="about">
    <div class="about">
        <h4 class="about-section__heading">ABOUT SEALTABS</h4>
        <h1 class="about-section__text">Systematic Education Assessment Link</h1>
        <p class="about-section__desc">SEALTABS has been built on platforms that can allow the product to be shaped specifically to individual Institution requirements. 
        Sealtabs'(Systematic Education Assessment Link) is a one-stop technology solution for Education/Vocational institutions providing Tailor Made Features that help achieve a high level of efficiency in their day-to-day deliverables. 
        Sealtabs has not only been extensively tried and tested but also been very well received and has been used exhaustively in the greater success of institutions.
        </p>
        <video width="450" height="340" controls>
            <source src="video/CWX_Final.de890b8b.mp4" type="video/mp4">
        </video><br>
        <button class="read-more btn--center">Read More</button>
    </div>
</section>