<!--Contact us-->
<section class="contact-section" id="contact">
    <div class="contacts">
        <div class="contact">
            <h3 class="contact__header">Experience & Explore </h3>
            <p class="contact__para">Sealtabs' at your institution free for a month</p>
            <h6 class="contact__mail-header">MAIL</h6>
            <a href="mailto:info@sealtabs" class="contact__mail">info@sealtabs.com</a>
            <h6 class="contact__call-header">CALL</h6>
            <a href="#number" class="contact__number">7451051618</a>
        </div>
        <div class="contact__form">
            <p>Or get a live product demo</p>
            <form action="#">
                <input type="text" name="full-name" class="full-name" placeholder="Full Name"><br><br>
                <input type="email" name="email" class="email" placeholder="Email Id"><br><br>
                <input type="tel" name="phone-number" class="phone" placeholder="Phone Number"><br><br>
            </form>
            <button class="home__tour--white">Get Demo</button>
        </div>
    </div>
</section>