<!--feautures section-->
<section class="feature-section" id="features">
    <div class="feature">
        <h4 class="feature__title">FEATURES</h4>
        <h1 class="feature__title-text">Educational Tools For Efficiency.</h1>
        <div class="feature-icon-wrapper">
            <div class="feature__card">
                <img src="images/feature_icon/feature1.png" alt="" class="feature__icon">
                <h5 class="feature__heading">Student Performance</h5>
                <p class="feature__desc">More time, Better focus,Higher performance</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature2.png" alt="" class="feature__icon">
                <h5 class="feature__heading">Administration Activity</h5>
                <p class="feature__desc">Seamless Administration,just a click away</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature3.png" alt="" class="feature__icon">
                <h5 class="feature__heading">Overall Performance</h5>
                <p class="feature__desc">Visualize your way up</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature4.png" alt="" class="feature__icon">
                <h5 class="feature__heading">Leave Management System</h5>
                <p class="feature__desc">Sanctioning leave made easier</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature5.png" alt="" class="feature__icon">
                <h5 class="feature__heading">Calendar of Events</h5>
                <p class="feature__desc">Organize to stay on schedule</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature6.png" alt="" class="feature__icon">
                <h5 class="feature__heading">Virtual library</h5>
                <p class="feature__desc">Accessible Anywhere,Anytime</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature7.png" alt="" class="feature__icon">
                <h5 class="feature__heading">News & Events</h5>
                <p class="feature__desc">Engineered to update you</p>
            </div>
            <div class="feature__card">
                <img src="images/feature_icon/feature8.png" alt="" class="feature__icon">
                <h5 class="feature__heading">SealTabs Analysis</h5>
                <p class="feature__desc">Empower your Students</p>
            </div>
        </div>
        <button class="read-more btn--center">Read More</button>
    </div>
</section>