    <!--Footer section-->
    <footer class="footer-section">
        <div class="footer">
            <div class="footer__icon">
                <h1 class="footer__icon">SealTabs</h1>
                <p>Sealtabs a product of Nissi</p>
            </div>
            <div class="footer__policy">
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
            </div>
            <div class="footer__download">
                <p><h1 class="download__icon">SealTabs</h1>is now available on</p>
                <img src="images/app_store_icons/apple.png" alt="" class="download__image">
                <img src="images/app_store_icons/playstore.png" alt="" class="download__image">
            </div>
            <div class="footer__socials">
                <p>Follow us on</p>
                <ul class="footer-nav">
                    <li class="footer-nav-item"><a href="#facebook"><img src="images/social_icons/facebook.png" alt="facebook"></a></li>
                    <li class="footer-nav-item"><a href="#twitter"><img src="images/social_icons/linkedIn.png" alt="twitter"><a></li>
                    <li class="footer-nav-item"><a href="#linkedIn"><img src="images/social_icons/twitter.png" alt="linkedIn"></a></li>
                </ul>
            </div>
        </div>
        <p class="footer__copyright">&#169;2023 Nissi Agency LLP. All rights reserved.</p>
    </footer>