<!--Header section navbar-->
<header class="header">
    <a href="#home"><h1 class="header__icon">sealtabs</h1></a>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#home">HOME</a></li>
            <li class="nav-item"><a href="#why-sealtabs">WHY SEALTABS</a></li>
            <li class="nav-item"><a href="#features">FEATURES</a></li>
            <li class="nav-item"><a href="#about">ABOUT</a></li>
            <li class="nav-item"><a href="#contact">TOUR</a></li>
            <li class="nav-item sign-up-btn"><a href="components/sign_up_form.html">SIGN-UP</a></li>
            <li class="nav-item demo-btn"><a href="#contact">ASK FOR DEMO</a></li>
        </ul>
    </nav>
</header>