<!--Home section-->
<section class="home-section">
    <div class="home" id="home">
        <div class="text">
            <h1 class="home__header">Systematic Education Assessment Link</h1>
            <p class="home__description">Education Management Software</p>
            <p class="home__powered-by">Powered By</p>
            <h3 class="home__powered-by-description">Artificial Intelligence</h3>
            <button class="home__tour--white">Take a Tour</button>
        </div>
        <div class="image">
            <img src="images/home_monitor/monitor.png" alt="monitor-image" class="home__image">
        </div>    
    </div>    
</section>