<!--Why Sealtabs section-->
<section class="why-sealtabs-section" id="why-sealtabs">
    <div class="why-seatabs">      
        <h4 class="why-sealtabs__heading">WHY SEALTABS</h4>
        <h1 class="why-sealtabs__text">Simple. Efficient. Accountable.</h1>
        <div class="icon-wrapper">
           <div class="icon-wrapper__card">
            <img src="images/icons/download.png"  alt="icon">
            <p class="image-desc">Efficient Reporting</p>
           </div>
           <div class="icon-wrapper__card">
            <img src="images/icons/download (1).png"  alt="icon">
            <p class="image-desc">High Data Accuracy</p>
           </div> 
           <div class="icon-wrapper__card">
            <img src="images/icons/download (2).png"  alt="icon">
            <p class="image-desc">Accessible Anytime Anywhere</p>
           </div> 
           <div class="icon-wrapper__card">
            <img src="images/icons/download (3).png"  alt="icon">
            <p class="image-desc">Seamless Delivery</p>
           </div> 
           <div class="icon-wrapper__card">
            <img src="images/icons/download (4).png"  alt="icon">
            <p class="image-desc">Virtual Interaction Solutions</p>
           </div> 
           <div class="icon-wrapper__card">
            <img src="images/icons/download (5).png"  alt="icon">
            <p class="image-desc">Data Analytics</p>
           </div> 
        </div>
        <button class="read-more btn--center">Read More</button>
    </div>    
</section>